name: CI

on:
  push:
    branches-ignore:
      - cpp-rewrite
      - horizon-os
    paths-ignore:
      - '.gitignore'
      - '.github/*'
      - '**.md'
      - 'LICENSE'
      - 'drshorizon/**'
      - 'res/**'
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  VERSION: "0.101.0"

jobs:

  build_android:
    name: Android build
    runs-on: ubuntu-latest
    env:
      APP_OUTPUTS_DIR: "app/app/build/outputs/apk/release"
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - name: Install development kits
        run: |
          chmod +x misc/gradle_pkg_version.sh
          NDK_VER=$(misc/gradle_pkg_version.sh ndkVersion app/app/build.gradle 1)
          BUILD_TOOLS_VER=$(misc/gradle_pkg_version.sh buildToolsVersion app/app/build.gradle 1)
          SDK_VER=$(misc/gradle_pkg_version.sh compileSdkVersion app/app/build.gradle)
          echo "ndk;$NDK_VER"
          echo "build-tools;$BUILD_TOOLS_VER"
          echo "platforms;$SDK_VER"
          
          
          
